@import './blocks/header';
@import'./blocks/main';
@import './blocks/footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: poppis;
}